<ul class="sources">
    <li><a target="_blank" href="https://www.trustworthyinternet.org/ssl-pulse/">https://www.trustworthyinternet.org/ssl-pulse/</a></li>
    <li><a target="_blank" href="https://www.grc.com">https://www.grc.com</a></li>
    <li><a target="_blank" href="http://www.codinghorror.com/blog/2012/02/should-all-web-traffic-be-encrypted.html">http://www.codinghorror.com/blog/2012/02/should-all-web-traffic-be-encrypted.html</a></li>
    <li><a target="_blank" href="http://www.theregister.co.uk/2011/09/19/beast_exploits_paypal_ssl/">http://www.theregister.co.uk/2011/09/19/beast_exploits_paypal_ssl/</a></li>
    <li><a target="_blank" href="http://www.moserware.com/2009/06/first-few-milliseconds-of-https.html">http://www.moserware.com/2009/06/first-few-milliseconds-of-https.html</a></li>
    <li><a target="_blank" href="http://vincent.bernat.im/en/blog/2011-ssl-benchmark.html">http://vincent.bernat.im/en/blog/2011-ssl-benchmark.html</a></li>
    <li><a target="_blank" href="http://breachattack.com/">http://breachattack.com/</a></li>
    <li><a target="_blank" href="http://news.netcraft.com/archives/2013/06/25/ssl-intercepted-today-decrypted-tomorrow.html">http://news.netcraft.com/archives/2013/06/25/ssl-intercepted-today-decrypted-tomorrow.html</a></li>
    <li><a target="_blank" href="https://raymii.org/s/tutorials/HTTP_Strict_Transport_Security_for_Apache_NGINX_and_Lighttpd.html">https://raymii.org/s/tutorials/HTTP_Strict_Transport_Security_for_Apache_NGINX_and_Lighttpd.html</a></li>
    <li><a target="_blank" href="https://github.com/nealharris/BREACH">https://github.com/nealharris/BREACH</a></li>
    <li><a target="_blank" href="http://xkcd.com/221/">http://xkcd.com/221/</a></li>
    <li><a target="_blank" href="http://www.wired.com/threatlevel/2012/03/ff_nsadatacenter/all/">http://www.wired.com/threatlevel/2012/03/ff_nsadatacenter/all/</a></li>
    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Certificate_authority">http://en.wikipedia.org/wiki/Certificate_authority</a></li>
    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Secure_Sockets_Layer">http://en.wikipedia.org/wiki/Secure_Sockets_Layer</a></li>
    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Message_authentication_code">http://en.wikipedia.org/wiki/Message_authentication_code</a></li>
    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Stream_cipher">http://en.wikipedia.org/wiki/Stream_cipher</a></li>
    <li><a target="_blank" href="http://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security">http://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security</a></li>
    <li><a target="_blank" href="https://speakerdeck.com/yassl/tls">https://speakerdeck.com/yassl/tls</a></li>
    <li><a target="_blank" href="http://takingnote.blogs.nytimes.com/2013/07/18/yes-we-can-to-yes-we-scan/">http://takingnote.blogs.nytimes.com/2013/07/18/yes-we-can-to-yes-we-scan/</a></li>
</ul>